<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Cache-control" content="no-cache" charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.6.0"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<title>Data Visualization</title>
<body>
 <center>
<h4>Top 10 Countries by Healthy Life Expectancy (HLE), 2024</h4>
<canvas id="myChart" style="width:500px;max-width:1000px;height:250px;max-height: 1000px;"></canvas>
 </center>
<script>
var chart_data = {{ chart_data | safe }};
var ctx = document.getElementById('myChart').getContext('2d');

var myChart = new Chart(ctx, {

type: 'bar',

data: chart_data,


options: {
}
});
</script>
</body>
</html>
